# --- Backend API Configuration (NestJS) ---
PORT=3001
FIREBASE_SERVICE_ACCOUNT_PATH=./service-account.json

# --- Frontend Configuration (Vite + React) ---
VITE_PORT=5550
VITE_API_URL=http://localhost:3001
